body {
  margin: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

.block {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 6px 24px;
}

.block > .item {
  width: 300px;
}

.component {
  padding: 6px 24px;
}

.column-header,
.column-footer {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.column-header {
  margin-bottom: 10px;
}

.column-footer {
  margin-top: 10px;
}

.column-header li,
.column-footer li {
  margin-right: 30px;
}
